@use "./typography";

body {
  margin: 0;
  font-family: Inter;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

button {
  padding: 0;
  box-shadow: none;
  border: none;
}

h4 {
  @include typography.header-4;
}

h6 {
  @include typography.header-6;
}
